<!-- <div class="container">
    <h1>Digital Innovation Academy</h1>
    <p>Lorem ipsum bla bla bla bla</p>
    <a href="http://localhost:4200/profile">Go to Profile</a>
</div>

<div id="container-1">
    <h1>Digital Innovation Academy</h1>
    <p>Lorem ipsum bla bla bla bla</p>
    <a href="http://localhost:4200/profile">Go to Profile</a>
</div>


<button (click)="goToProfile()" class="margin-button">Go to profile</button>

<style>
    /* h1{
        color: aqua;
    } */
</style> -->

<div class="row">
    <div class="box"></div>
    <div class="box-2"></div>
    <div class="box-3"></div>
</div>